<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Tags</title>
</head>

<body>
  <h1>
    <!-- Tite goes here -->
    <%= data.title %>
  </h1>
  <p>Current second:
    <!-- Current second goes here -->
    <%= data.seconds %>
  </p>
  <%  if ( data.seconds % 2===0)  {%>
      <ul>
        <!-- List goes here if current second is even. -->
        <!-- Otherwise it should display the following: -->
        <!-- <p>No items to display</p> -->
        <% for(let i=0;i<data.items.length;i++) 
        {%>
          <li> 
            <%= data.items[i] %> 
          </li> 
        <%}%>

      </ul>
  <%} 
  else { %>
  <p>No items to display</p>
  <% } %>

  <p>

    <%- data.htmlContent %>
    
  </p>

  <%- include('footer.ejs') %>
</body>

</html>